.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  height:50px;
  background-color: #fa061c;
  padding-top: 10px;
}

#home {
  font-size: 22px;
  color: white;
  text-decoration: none;
  margin-right: 1%;
}

.add {
    margin-top: 5%;
    margin-left: 28%;
    width: 60%;
    display: flex;
}

.field {
    margin-right: 2%;
}

#btn_add {
  margin-top: 2%;
  height: 40px;
  margin-left: 1%;
  width: 200px;
}

.spisak {
  margin-top: 2%;
}

#spisak-naslov {
  margin-top: 2%;
}

#check {
  font-size: 22px;
  color: white;
  text-decoration: none;
  margin-right: 1%;
}

#input-check {
  margin-top: 3%;
  margin-bottom: 1%;
  width: 20%;
  margin-left: 40%;
}